body {
    background-image: url(page-background-v2.jpg);
}

/* header navigation */

.nav-bar li {
    display: inline;
    color:#ffffff;
    font-family: Roboto, Verdana, Tahoma, sans-serif;
    font-weight: bold;
}

.nav-bar ul {
    word-spacing: 10px;
}

a {
    color: #ffffff;
    text-decoration: none;
}

.copywriter {
    color:#dd4814;
}

a:hover {
    color:#dd4814;
}

/* body introduction section */

/* profile-picture */

img.front-image, img.back-image {
    width: 33%;
    height: auto;
    border-radius: 25px;
}

div#headshot {
    position: relative;
    display: inline-block;
    justify-content: center;
}

.back-image {
    /*display: none;*/
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.back-image:hover {
    display: inline;
    border: solid red 2px;
    z-index: 2;
}


/* Bio H and p section */

section#introduction {
    display: flex;
}

.introduction {
    text-align: center;
    color: #ffffff;
    font-family: Roboto, Verdana, Tahoma, sans-serif;
    font-weight: bold;
}

.bio {
    text-align: center;
    color: #ffffff;
    font-family: Roboto, Verdana, Tahoma, sans-serif;
}
